.recom {
  min-height: 78vh;
  width: 100%;
  font-family: "Roboto", sans-serif;
  background-color: #f3f1ed;
  color: #545776;
  align-content: center;
  padding-top: 0.5%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  margin: 0%;
  padding: 0%;
}
.list {
  width: 100%;
  min-height: 61vh;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 100px;
  align-items: center;
  justify-items: center;
  width: 75%;
  margin-left: 11%;
  min-height: 46vh;
}

.h3 {
  padding: 0;
  text-align: center;
  font-size: 20px;
  color: #545776;
  font-family: "Roboto", sans-serif;
}

.h4{
  font-weight: lighter;
  font-weight: 100;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

.pag {
  background-color: #545776;
  width: 100%;
  gap: 1rem;
  flex-wrap: wrap;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
}
