.productPag {
  width: 100%;
  padding-bottom: 1%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.productPagForm {
  min-height: 44vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.h3 {
  padding-left: 4%;
  color: white;
  font-family: "Roboto";
  font-size: 24px;
}

.section {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-bottom: 2%;
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #545776;
  color: white;
}

.h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  padding-top: 3%;
  text-align: center;
  margin-top: 60%;
}

.p {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  line-height: 10px;
  font-weight: bold;
}

.fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 95%;
}

.label {
  color: #fff;
  margin-bottom: 5px;
}

.input {
  border: none;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  height: 40px;
  width: 100%;
  padding: 20 30px;
  padding-left: 10px;
  font-family: "Roboto", sans-serif;
}

.input :hover {
  scale: 1.01;
  transition: 0.2s;
}

.input :focus {
  border: 2px solid;
  color: rgb(96, 124, 138);
}

.flecha {
  margin-right: 40px;
  color: white;
}

.button {
  border-radius: 8px;
  border: 1px solid #1dbeb4;
  width: 160px;
  height: 40px;
  color: white;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  background-color: #1dbeb4;
  cursor: pointer;
  border-color: #1dbeb4;
  transition: border-color 0.25s;
  align-self: center;
}

.titleAlert {
  font-family: "Roboto", sans-serif;
  color: red;
}

.textAlert {
  font-family: "Roboto", sans-serif;
  color: red;
}

.confirmButton {
  background-color: #1dbeb4;
}
  
  /*Mobile*/
  
  @media (max-width: 480px) {
    .productForm {
      width: 100%;
      max-width: 540px;
    }
  }
  
  /*Tablet*/
  
  @media (min-width: 481px) and (max-width: 768px) {
  }
  
  /*Desktop*/
  
  @media (min-width: 769px) and (max-width: 1024px) {
  }
  