.slick-next:before,
.slick-prev:before {
 color:#1dbeb4;
}

  .slick-slider .slick-track, .slick-slider .slick-list{
    padding-left: 7px;
    z-index: 1
  }

  @media (max-width :780px)
  {
    .slick-next:before,
    .slick-prev:before{
    display: none;
    } 
    .slick-slider .slick-track, .slick-slider .slick-list{
      margin-left: 2%;
      z-index: 1
    }
  }